<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="/static/dash-style.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">

    <script type="module" src="/static/script.js" defer></script>
    <script type="module" src="/static/renderforms.js" defer></script>
    <script type="module" src="/static/apis.js" defer></script>
    
</head>
<body>
    <div class="container">
        <div class="top">
            <div class="search-container">
                <form action="" style="width: 100%; display: flex; align-items: center;">
                    <input type="search" name="search" id="search" 
                    placeholder="Search" maxlength="43">
                    <select name="search" id="search-by" placeholder="Search by" required>
                        <option value="">Search by</option>
                        <option value="employee-id">Employee ID</option>
                        <option value="first-name">First Name</option>
                        <option value="last-name">Last Name</option>
                        <option value="email">Email</option>
                        <option value="Department">Department</option>
                        
                    </select>
                   
                </form>
            </div>
            <div class="test">
                <div class="dropdown new-item">
                    <button type="button" id="add">Add</button>
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" style="width:23px; height: 23px;" id="chevron-down"><title>dropdown</title>
                        <path d="M7.41,8.58L12,13.17L16.59,8.58L18,10L12,16L6,10L7.41,8.58Z"></path></svg>
                    <div class="dropdown-box" style="overflow: hidden;">
                        <div>Employee</div>
                        <div>Department</div>
                    </div>
                </div>
                <button type="button" id="delete" style="visibility: hidden;">Delete</button>
                <button type="button" id="update" style="visibility: hidden;">Update</button>
            </div>
            <div class="dropdown user-info">
                <button type="button" id="add">User</button>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" style="width:23px; height: 23px;" id="chevron-down"><title>dropdown</title>
                    <path d="M7.41,8.58L12,13.17L16.59,8.58L18,10L12,16L6,10L7.41,8.58Z" /></svg>
                <div class="dropdown-box" style="overflow: hidden;">
                    <div>Sign out</div>
                </div>
            </div>
        </div>
        <div class="body">
            <div class="info-container">
                <div class="greet">Welcome, User</div>
                <div class="numerics">
                    <div class="figure">
                        <div class="number">{{len .Employees}}</div>
                        <div class="info">
                            {{if len .Employees | eq 1}}
                                Employee
                            {{else}}
                                Employees
                            {{end}}
                        </div>
                    </div>
                    <div class="figure">
                        <div class="number">{{len .Departments}}</div>
                        <div class="info">
                            {{if len .Departments | eq 1 }}
                                Department
                            {{else}}
                                Departments
                            {{end}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="table-container">
                <table style="width: 100%;">
                    <thead>
                        <tr>
                            <td><input type="checkbox" name="checkbox" id="select-all"></td>
                            <td>ID</td>
                            <td>Last Name</td>
                            <td>First Name</td>
                            <td>Email</td>
                            <td>Department</td>
                        </tr>
                    </thead>

                    <tbody>
                        {{range $emp := .Employees}}
                            <tr>
                                <td><input type="checkbox" name="checkbox" id="select"></td>
                                <td id="employee-id">{{$emp.Id}}</td>
                                <td id="last-name">{{$emp.LastName}}</td>
                                <td id="first-name">{{$emp.FirstName}}</td>
                                <td type="email" id="email-data">{{$emp.Email}}</td>
                                <td data-dept-id={{.DepartmentId}}>{{$emp.Department}}</td>
                            </tr>
                        {{end}}
                        
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
</html>